<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858734993308-f51tm504bh89a8n0g2eem5jtba1cuqr6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858734993308-f51tm504bh89a8n0g2eem5jtba1cuqr6</string>
	<key>API_KEY</key>
	<string>AIzaSyDY9x2AgvNx0wDLUCaTVHmtCILOyOdd1Dk</string>
	<key>GCM_SENDER_ID</key>
	<string>858734993308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.riverpodWebRtc</string>
	<key>PROJECT_ID</key>
	<string>web-rtc-riverpod</string>
	<key>STORAGE_BUCKET</key>
	<string>web-rtc-riverpod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858734993308:ios:caa8f2c8fd590d3ddd7259</string>
</dict>
</plist>